* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 1200px;
    max-width: 100%;
    display: flex;
    background-color: #121212;
    font-family: sans-serif;
}

.layout-1 {
    position: fixed;
    background-color: #000;
    width: 20vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    padding: 50px 40px;
}

.insta-logo img {
    width: 200px;
    margin-bottom: 40px;
}

.nav-links {
    margin: 25px 0;
    color: #fafafa;
}

.nav-links button {
    font-size: 25px;
    background-color: #000;
    border-radius: 30px;
    padding: 10px 20px;
}

.nav-links button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 10;
}

.nav-links span {
    color: #fafafa;
    margin-left: 20px;
}

.nav-links i {
    color: #fff;
}

.nav-links .profile-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-img span {
    margin-top: 10px;
}

main {
    margin-left: 600px;
    padding: 30px;
    width: 750px;
}

.the-major-section {
    display: flex;
}

.layout-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: #000;
    padding: 10px 10px 10px 0px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #4b4949;
}

.layout-2-profile img {
    background: linear-gradient( 45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 59%, rgba(252, 176, 69, 1) 100%);
    border: 3px solid transparent;
    border-radius: 50%;
    object-fit: cover;
}

.middle-layout-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border: 1px solid #4b4949;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.layout-set-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.layout-2 .layout-2-profile {
    width: 17px;
}

.layout-set-img img {
    border: 3px solid transparent;
    background: linear-gradient( 45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 59%, rgba(252, 176, 69, 1) 100%);
    border-radius: 50%;
}

.layout-set-img span {
    margin-bottom: 10px;
    color: #fafafa;
    font-size: 20px;
    font-weight: bold;
}

.layout-2-profile p {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.posts {
    margin: 25px 0;
    background-color: #000;
    border: 1px solid #4b4949;
    border-radius: 10px;
    color: #fafafa;
}

.posts .post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.posts .post-title .post-left {
    display: flex;
    align-items: center;
}

.post-image img {
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 10px;
    object-fit: cover;
    background: linear-gradient( 45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 59%, rgba(252, 176, 69, 1) 100%);
}

.post-details .name {
    font-weight: 600;
    font-size: 18px;
    color: #fafafa;
}

.post-details .location {
    font-size: 14px;
    margin-top: 4px;
    color: #fafafa;
}

.post-content img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.like-share-comment i {
    font-size: 28px;
    margin-right: 10px;
}

.save-post {
    font-size: 28px;
}

.post-comment-box {
    padding: 0px 16px 16px 16px;
}

.post-comment-box p {
    margin-bottom: 3px;
}

.post-comment-box .likes {
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 600;
}

.post-comment-box .name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.post-comment-box span {
    margin-left: 8px;
    font-weight: normal;
    font-size: 18px;
}

.post-comment-box .comments {
    font-size: 17px;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.sub-comment {
    font-weight: 600;
    font-size: 16px;
}

.sub-comment span {
    font-weight: normal;
    font-size: 18px;
}

.posting-time {
    font-size: 15px;
    margin-top: 6px;
    color: #a8a8a8;
    text-transform: uppercase;
}

.add-comment {
    padding: 16px 16px 16px 0px;
    border-top: 1px solid #4b4949;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side i {
    margin-right: 10px;
}

.posts .add-comment .left-side {
    display: flex;
    align-items: center;
}

.posts .add-comment .left-side i {
    font-size: 22px;
    margin-left: 15px;
}

.add-comment .left-side input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: #000;
}

::placeholder {
    margin-right: 20px;
    font-size: 20px;
}

.right-side {
    margin-top: 20px;
    margin-left: 30px;
}

.profile-title {
    display: flex;
    align-items: center;
}

.profile-sub-title {
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.profile-sub-title .images img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.details-profile .name {
    padding-bottom: 3px;
    color: #fafafa;
    font-weight: 600;
    font-size: 17px;
}

.usernme {
    color: #a8a8a8;
}

.suggestions {
    display: flex;
    margin: 25px 0 20px 0;
    justify-content: space-between;
}

.profile-right p {
    color: #0095f6;
    font-size: 17px;
}

.suggestions p {
    color: #a8a8a8;
    font-size: 18px;
    font-weight: 500;
}

.suggestions .see {
    margin-left: 60px;
    color: #fafafa;
    font-size: 18px;
}

.suggestion-title {
    display: flex;
    align-items: center;
}

.suggestion-left {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 20px;
}

.suggestion-left .images img {
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.detail-suggestion {
    margin-bottom: 3px;
}

.detail-suggestion .name {
    color: #fafafa;
    font-weight: 600;
    font-size: 20px;
}

.detail-suggestion .followed {
    font-size: 14px;
    color: #a8a8a8;
    margin-top: 7px;
}

.suggestion-right p {
    color: #0095f6;
}

.footer-list ul {
    margin-top: 30px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 20px;
}

.footer-list a li {
    color: #737373;
    font-size: 14px;
    margin-left: 4px;
    text-decoration: none;
    list-style: none;
}

.finally {
    color: #737373;
    font-size: 17px;
    margin-left: 30px;
}